body {
  background-color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

header {
  font-family: 'Raleway', sans-serif;
  display: flex;
  order: 2;
  width: 95%;
  position: fixed;
  align-items: flex-end;
  align-self: flex-start;
  z-index: 999;
  background-color: white;
  margin-left: 13%;
}

nav.row {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin-right: 9%;
  padding: 0;
}

.margin-right {
  margin-right: 10px;
}

.button-simple {
  background-color: #ff9933;
  padding: 10px;
  text-align: center;
  top: 20px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
}

.calendar {
  padding: 30px;
  align-items: center;
}

.conteiner {
  display: block;
  background-color: #e6e6e6;
  order: 3;
  width: 90%;
  padding: 40px;
  margin: auto;
  height: 90%;
  position: relative;
}

.sidebar {
  order: 1;
  width: 13%;
  position: fixed;
  height: 100vh;
  background-color: black;
  color: white;
}

.sidebar-menu {
  border-bottom: solid #a8a8a8 0.05px;
}

.row {
  padding: 10px;
  display: flex;
}

.row:after, .row:before {
  content: "";
  display: table;
  clear: both;
}

li {
  list-style-type: none;
  font-size: 10px;
}

.border {
  border-left: solid #a8a8a8 0.05px;
  border-right: solid #a8a8a8 0.05px;
  height: 22px;
  padding: 10px;
  position: relative;
  text-align: center;
}

.box {
  height: 180px;
  width: 600px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  padding: 0;
}

.img-wykres {
  width: 60%;
  height: 40%;
  margin: auto;
  display: block;
}

ul {
  padding: 0;
}

li {
  padding-left: 20px;
}

.statistic {
  font-size: 16px;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
  padding: 0;
  left: 0;
  flex: 0 0 40%;
  border-bottom: solid #a8a8a8 0.05px;
}

h2 {
  font-size: 17px;
}

h1 {
  font-size: 25px;
}

.gray-fount {
  color: #a8a8a8;
  font-family: 'Hind', sans-serif;
}

.profil {
  position: relative;
}

.circle {
  position: absolute;
  background-color: #66ff66;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: 3px;
  left: 50px;
}

.first-part-conteiner {
  border: solid #a8a8a8 0.05px;
  margin-bottom: 10px;
  height: 50%;
  width: 80%;
  margin: auto;
  display: block;
  background-color: white;
  margin: 2%;
  position: relative;
  width: 80%;
  padding: 40px;
  left: 10%;
  height: 40%;
}

.secound-part-conteiner {
  border: solid #a8a8a8 0.05px;
  display: block;
  background-color: white;
  margin: 2%;
  position: relative;
  width: 80%;
  padding: 40px;
  left: 10%;
  height: 60%;
}

.title-links-position {
  width: 40%;
}

.links-position {
  margin-right: 60px;
}

.thecenter {
  align-items: center;
  justify-content: center;
  display: flex;
}

.thecenter-2 {
  display: flex;
  align-items: center;
}

.sidebar-title {
  font-family: 'Mr Dafoe', cursive;
  font-size: 25px;
  margin-left: 10px;
}

.title-sidebar-icon {
  position: absolute;
  left: 70%;
  top: 30px;
  width: 12px;
  height: 10px;
}

.icons-in-secound-part {
  position: absolute;
  right: 0;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-left: 15px;
}

.name-of-manager {
  margin-left: 40%;
  color: #17b2c7;
}

.title-of-graf {
  margin-left: 30%;
}

a {
  text-decoration: none;
}

.listinsidebar {
  margin-top: 6px;
  left: 6px;
  font-size: 15px;
  justify-content: space-between;
}

.iconsinsidebar {
  position: absolute;
  margin-top: 3px;
  left: 15px;
  font-size: 15px;
  justify-content: space-between;
}

.button-parent {
  display: flex;
  justify-content: space-between;
}

.button-graph {
  width: 20%;
  height: 20%;
  padding: 6px;
  margin: 10px;
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
}

.button-graph:hover {
  background-color: #e6e6e6;
}

.green-ball, .orange-ball, .blue-ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.blue-ball {
  background-color: #2eb8b8;
  position: absolute;
  left: 15%;
}

.orange-ball {
  background-color: #ff9933;
  position: absolute;
  left: 46%;
}

.green-ball {
  background-color: #00b300;
  position: absolute;
  right: 26%;
}

.link-box {
  position: relative;
  margin: auto;
  width: 70%;
  height: 10%;
  border-bottom: solid #a8a8a8 0.05px;
}

.link-box:hover {
  background-color: #e6e6e6;
}

.button-add {
  background-color: #ff9933;
  padding: 10px;
  text-align: center;
  top: 20px;
  width: 100px;
  height: 40px;
  color: #ffffff;
  margin: 30px auto;
  border: none;
  border-radius: 5px;
}

.orange-rectangle {
  width: 3px;
  height: 10px;
  background-color: #ff9933;
  padding: 0;
  margin-left: 6px;
  position: absolute;
  left: 0;
  margin-top: 8%;
}

.sidebar-list h2 {
  margin-left: 20px;
  margin-top: 0;
}

.sidebar-list {
  width: 90%;
  height: 15px;
}

.sidebar-list:hover {
  background-color: #b3b3b3;
  color: white;
}

.sidebar-list:hover .orange-rectangle {
  display: none;
}

@media (max-width: 1100px) {
  .sidebar {
    display: none;
  }
  .conteiner {
    margin-left: 0;
    padding: 0;
    left: 0;
  }
  header {
    margin-left: 0;
  }
  .box {
    width: 100%;
    height: 25%;
    left: 0;
  }
  .statistic {
    padding: 0;
  }
}

/*# sourceMappingURL=style.css.map */